<!-- Footer -->
<footer class="page-footer font-small mdb-color lighten-3 pt-4 foterr">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">

        <!-- Content -->
        
        <h5 class="font-weight-bold text-uppercase mb-4">About US</h5>
        <p class="text-white">We pride ourselves on making mutually beneficial matches between Farmers and  Merchant, and go to great lengths to ensure that each satisfies the needs and expectations of the other.</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 mx-auto my-md-4 my-0 mt-4 mb-1">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mb-4">Quick Links</h5>

        <ul class="list-unstyled">
          <li>
            <p class="text-white">
              <a href="#!"></a>
            </p>
          </li>
          <li>
            <p class="text-white">
              <a  class="text-white" href="/about">About Us</a>
            </p>
          </li>
          <li>
            <p class="text-white">
              <a class="text-white" href="/postjob">Post Job</a>
            </p>
          </li>
          <li>
            <p class="text-white">
              <a  class="text-white" href="/signin">Sign In</a>
            </p>
          </li> 
            <li>
            <p class="text-white">
              <a class="text-white" href="/signUp">Sign Up</a>
            </p>
          </li>
            
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">

        <!-- Contact details -->
        <h5 class="font-weight-bold text-uppercase mb-4">Address</h5>

        <ul class="list-unstyled">
          <li>
            <p class="text-white">
              <i class="fas fa-home mr-3 glow"></i> Sai Mandir Road,Moradabad (244001) India</p>
          </li>
          <li>
            <p class="text-white">
              <i class="fas fa-envelope mr-3 glow"></i> getrozgarbharat@gmail.com</p>
          </li>
          <li>
            <p class="text-white">
              <i class="fas fa-phone mr-3 glow"></i> + 7906741614</p>
          </li>
          <li>
            <p class="text-white">
              <i class="fas fa-print mr-3 glow"></i> +0591-245-4587</p>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 text-center mx-auto my-4">

        <!-- Social buttons -->
        <h5 class="font-weight-bold text-uppercase mb-4">Follow Us</h5>

        <!-- Facebook -->
    <a class="btn btn-block btn-social btn-facebook ">
    <span class="fa fa-facebook glow"></span> 
  </a>
        <!-- Twitter -->
        <a class="btn btn-block btn-social btn-twitter">
    <span class="fa fa-twitter glow"></span> 
  </a>
        <!-- Google +-->
      <a class="btn btn-block btn-social btn-google">
    <span class="fa fa-google glow"></span> 
  </a>
        <!-- Dribbble -->
       <a class="btn btn-block btn-social btn-instagram">
    <span class="fa fa-instagram glow"></span> 
  </a>
        
          
<!--          linkde in-->
          
          <a class="btn btn-block btn-social btn-soundcloud">
    <span class="fa fa-soundcloud glow"></span> 
  </a>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://mdbootstrap.com/"> Siddhant Kaushik</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->