
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {font-family: Arial, Helvetica, sans-serif;}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-image:linear-gradient(to left,#6db9ef,#7ce08a);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;

}

img.avatar {
  width: 40%;
 
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
 /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-image:linear-gradient(to right,#6db9ef,#7ce08a);
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color:snow;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 60%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media only screen and (max-width: 600px) {
 
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
.modal-content {
  background-color:snow;
  margin: 5% 5% ; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 90%; /* Could be more or less, depending on screen size */
}
      body {
    background-color: lightblue;
  }
}
</style>
</head>
<body>


<%if(ray=="true"){ %>

<div id="id01" class="modal">
  
  <form class="modal-content animate" action="/signin" method="post">
    <div class="imgcontainer">
      
        
         <script>
    function pageRedirect() {
      window.location.href = "/";
    }      
</script>
       <span  onclick="pageRedirect()" class="close" title="Close Modal">&times;</span>
      <img src="https://drive.google.com/uc?id=1oVYDzQRi_4o51x8SKh60aJ3G7fME_Ig-" alt="Avatar" class="avatar">
    </div>
 
    <div class="container">
        
      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Enter Username" name="email" required style="border-color">

      <label for="psw"><b>Password</b></label>
       
      <input type="password" placeholder="Enter Password" name="psw" required>
        
      <button type="submit">Login</button>
      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
    </div>

    <div class="container" style="background-color:#f1f1f1">
    
      <span class="psw">Dont have account ?<a href="/signUp">Create one</a></span>
    </div>
  </form>
</div>

    
    <%}%>
<!--make the sorry button    -->
<%if(ray=="false"){%>
   <div id="id01" class="modal">
  
  <form class="modal-content animate" action="/signin" method="post">
    <div class="imgcontainer">
      
        
         <script>
    function pageRedirect() {
      window.location.href = "/";
    }      
</script>
       <span  onclick="pageRedirect()" class="close" title="Close Modal">&times;</span>
      <img src="img_avatar2.png" alt="Avatar" class="avatar">
    </div>
<small style="color:red ">Incorrect username/passward</small>
    <div class="container">
      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Enter Username" name="email" style=" border: 3px solid red" required >

      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" style=" border: 3px solid red" required>
        
      <button type="submit">Login</button>
      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
    </div>

    <div class="container" style="background-color:#f1f1f1">
    
      <span class="psw">Dont have account ?<a href="/signUp">Create one</a></span>
    </div>
  </form>
</div>

        <%}%>
<!---->
</body>
</html>
