
<!DOCTYPE html>
<html>
<head>
    
     <script>
        function close(){
            console.log("ok");
             window.location.replace("https://www.tutorialrepublic.com/");
            
        }
        
        </script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {font-family: Arial, Helvetica, sans-serif;}

/* Full-width input fields */
input[type=text], input[type=password],input[type=email] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-image:linear-gradient(to left,#6db9ef,#7ce08a);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 40%;
 
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
 /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-image:linear-gradient(to right,#6db9ef,#7ce08a);
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color:snow;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 60%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 500px) {
   .modal-content {
  background-color:snow;
  margin: 5% auto 5% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 90%; /* Could be more or less, depending on screen size */
}

  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
    .btn{
        
          background-image:linear-gradient(to left,#6db9ef,#7ce08a);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;


    }
    
</style>
</head>
<body>



<% if(cond=="true"){%>
<div id="id01" class="modal">
  
  <form class="modal-content animate" action="/signUp"  method="post" enctype="multipart/form-data">
    <div class="imgcontainer">
       <script>
    function pageRedirect() {
      window.location.href = "/";
    }      
</script>
        <span  onclick="pageRedirect()" class="close" title="Close Modal">&times;</span>
        
      <img src=https://drive.google.com/uc?id=1oVYDzQRi_4o51x8SKh60aJ3G7fME_Ig- alt="Avatar" class="avatar">
    </div>

    <div class="container">
<!--        f name-->
      <label for="f-name"><b>
नाम</b></label>
      <input type="text" placeholder=" Name" name="name" required>
<!--        las -name-->
        
  <label for="uname"><b>पता</b></label>
      <input type="text" placeholder="Adress" name="adress" required>
<!--        email-->
        
        <label for="Email"><b>ईमेल</b></label>
      <input type="email" placeholder="Email" name="email" required>
        
        
        
<!--        file-->
         
        
         <label for="Email"><b>मोबाइल न</b></label>
      <input type="text" placeholder="Mobile No" name="mobile" required>
        
        
<!--passward-->
      <label for="psw"><b>पासवर्ड</b></label>
      <input type="password" placeholder="Enter Password" name="pswfirst" required>
        
         <label for="confirm psw"><b> दोबारा पासवर्ड डालें</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>
        
        
        
        
      <button type="submit">Sign up</button>
      <label>
        <input type="checkbox" checked="checked" name="remember" required> Remember me
      </label>
    </div>

    <div class="container" style="background-color:#f1f1f1">
    
      <span class="psw">already a user <a href="/signin">Sign in?</a></span>
    </div>
  </form>
</div>
<%}%>
    
    
<%if(cond=="false"){%>
        <div id="id01" class="modal">
  
  <form class="modal-content animate" action="/signUp"  method="post" enctype="multipart/form-data">
    <div class="imgcontainer">
       <script>
    function pageRedirect() {
      window.location.href = "/";
    }      
</script>
        <span  onclick="pageRedirect()" class="close" title="Close Modal">&times;</span>
        
      <img src=https://drive.google.com/uc?id=1oVYDzQRi_4o51x8SKh60aJ3G7fME_Ig- alt="Avatar" class="avatar">
    </div>

    <div class="container">
<!--        f name-->
      <label for="f-name"><b>नाम</b></label>
      <input type="text" placeholder="First Name" name="name" required>
<!--        las -name-->
        
  <label for="uname"><b>पता</b></label>
      <input type="text" placeholder="Last Name" name="adress" required>
<!--        email-->
        
        <label for="Email"><b>ईमेल</b></label>
      <input type="email" placeholder="Enter Username" name="email" required>
        <small style="color:red">Email-Adress already taken</small>
        
        
<!--        file-->
       
<!--passward-->
      <label for="psw"><b> पासवर्ड</b></label>
      <input type="password" placeholder="Enter Password" name="pswfirst" required>
        
         <label for="confirm psw"><b>  दोबारा पासवर्ड डालें</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>
        
        
        
        
      <button type="submit">Sign up</button>
      <label>
        <input type="checkbox" checked="checked" name="remember" required> Remember me
      </label>
    </div>

    <div class="container" style="background-color:#f1f1f1">
    
      <span class="psw">already a user <a href="/signin">Sign in?</a></span>
    </div>
  </form>
</div>
    <%}%>

</body>
</html>
